@import '../variables.scss';

.roadmap {
  margin-bottom: 125px;

  @media (max-width: 576px) {
    margin-bottom: 100px;
  }

  .section-title {
    margin-bottom: 34px;
  }

  .section-line {
    margin-bottom: 30px;
    background:
      linear-gradient(
        90deg,
        rgb(0 213 174 / 50%) 3.03%,
        rgb(208 21 214 / 50%)
        49.84%,
        rgb(0 113 169 / 50%) 73.58%
      );

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__years {
    display: flex;
    flex-direction: row;

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
      width: 200px;
      margin: 0 auto;
    }
  }

  &__year {
    position: relative;
    flex: 1;
    margin-bottom: 11px;
    font-size: 64px;
    font-family: 'Righteous', cursive;
    line-height: 65px;
    text-align: center;
    text-shadow: 1px 4px 4px rgb(0 0 0 / 25%);
    transition: all 0.3s ease;

    @media (max-width: 576px) {
      width: 100%;
      margin-bottom: 30px;
    }

    &:not(:nth-of-type(4)) {
      cursor: pointer;
    }

    &::after {
      position: absolute;
      bottom: -17px;
      left: 0;
      width: 100%;
      height: 9px;
      border-radius: 9px;
      content: '';
      transition: background 0.5s ease;
    }

    &:nth-of-type(1)#{&}--active, &:nth-of-type(1):hover {
      background: linear-gradient(180.43deg, #FFFFFF 0.37%, #00FFE7 213.4%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:nth-of-type(1)#{&}--active::after {
      background: #00FFE7;
    }

    &:nth-of-type(2)#{&}--active, &:nth-of-type(2):hover {
      background: linear-gradient(177.05deg, #FFFFFF 33.09%, #CE1CFF 238.76%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:nth-of-type(2)#{&}--active::after {
      background: #CE1CFF;
    }

    &:nth-of-type(3)#{&}--active, &:nth-of-type(3):hover {
      background: linear-gradient(174.11deg, #FFFFFF 37.81%, #00AAFF 229.92%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:nth-of-type(3)#{&}--active::after {
      background: #00ABFF;
    }

    &:nth-of-type(4) {
      color: rgb(0 228 255 / 29%);
    }
  }

  &__tab {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;

    &--active {
      display: grid;
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 10px;
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 10px;
    }
  }

  &__item {
    flex: 1;
    box-sizing: border-box;
    height: fit-content;
    padding: 8px;
    background: linear-gradient(141.88deg, #04485F 30.25%, #00FFE7 403.86%);
    border-radius: 20px;

    @media (max-width: 992px) {
      height: 100%;
    }

    &--empty {
      position: relative;
      min-height: 238px;

      .roadmap__stick {
        position: absolute;
        bottom: 15px;
        left: 15px;
        height: 5px;
        background-color: #033949;
        border-radius: 5px;
        transform-origin: left;
      }
    }
  }

  &__tab[data-tab='1'] &__item  {
    border: 2px solid #00FFE7;
  }

  &__tab[data-tab='2'] &__item  {
    border: 2px solid #CE1CFF;
  }

  &__tab[data-tab='3'] &__item  {
    border: 2px solid #00ABFF;
  }

  &__quarter {
    margin-bottom: 22px;
    font-size: 48px;
    font-family: 'Righteous', cursive;
    line-height: 65px;
  }

  &__tab[data-tab='1'] &__quarter  {
    background: linear-gradient(180.43deg, #FFFFFF 0.37%, #00FFE7 213.4%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__tab[data-tab='2'] &__quarter  {
    background: linear-gradient(180.33deg, #FFFFFF 30.87%, #CE1CFF 241.21%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__tab[data-tab='3'] &__quarter  {
    background: linear-gradient(180.33deg, #FFFFFF 30.87%, #00AAFF 241.21%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item-text {
    margin: 0 9px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.02em;
  }

  &__item-sep {
    width: auto;
    height: 5px;
    margin-top: -2px;
    margin-bottom: 10px;
    background-color: #033949;
    border-radius: 5px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }
}
